body {
  font: 12px Arial;
  margin-left: 30px;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

h1 {
		font: 20px Arial;
    font-weight: bold;
		text-align: left;
}

h2 {
		font: 16px Arial;
		text-align: left;
}

form {
		text-align: left;
    margin-left: 0px;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.title{
  font-size:16px;
  margin-left: 300px;
  margin-top: 20px;
}

.chart {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 20px;
}

.textarea {
  display: inline-block;
  height: 300px;
  width: 500px;
  margin: 20px;
}
